.Group_28 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 3558px;
  z-index: 120;
}
.Helping_educators_reduce_stress_and_overwhelm_c {
  font-size: 14px;
  font-family: "HelveticaNeue";
  color: rgb(102, 102, 102);
  line-height: 1.429;
  position: absolute;
  left: 288.924px;
  top: 2057.25px;
  width: 236px;
  height: 54px;
  z-index: 119;
}
.Educators {
  font-size: 24px;
  font-family: "HelveticaNeue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.833;
  text-shadow: 0px 0px 17.64px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 339.937px;
  top: 1971.004px;
  z-index: 118;
}
.Rectangle_2_copy_19 {
  border-radius: 20px;
  background-color: rgb(0, 167, 180);
  position: absolute;
  left: 245px;
  top: 1805px;
  width: 350px;
  height: 209px;
  z-index: 115;
}



.Rectangle_2_copy_3 {
  border-width: 2px;
  border-color: rgb(239, 241, 243);
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 263px;
  top: 1837px;
  width: 310px;
  height: 279px;
  z-index: 114;
}

.pexels_photo_3184317_copy_2 {
  background-image: url("pexels-photo-3184317 copy 2.png");
  opacity: 0.2;
  position: absolute;
  left: 622px;
  top: 1826px;
  width: 355px;
  height: 220px;
  z-index: 123;
}





.Rectangle_2_copy_3 {
  border-width: 2px;
  border-color: rgb(239, 241, 243);
  border-style: solid;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 263px;
  top: 1837px;
  width: 310px;
  height: 279px;
  z-index: 114;
}
.pexels_photo_3184317 {
  background-image: url("pexels-photo-3184317.png");
  opacity: 0.2;
  position: absolute;
  left: 242px;
  top: 1824px;
  width: 355px;
  height: 220px;
  z-index: 113;
}
